@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: "Pretendard Variable", Pretendard;
}

@layer base {
  button {
    cursor: pointer;
  }

  button:disabled {
    cursor: default;
  }
}

/* typography */
@layer components {
  .text-hero {
    font-weight: 700;
    font-size: 72px; /* 9xl */
    line-height: 125%;
    letter-spacing: 0;
  }

  .text-headline-l {
    font-weight: 700;
    font-size: 36px;
    line-height: 125%;
    letter-spacing: 0;
  }

  .text-headline-m {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0;
  }

  .text-headline-s {
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    letter-spacing: 0;
  }

  .text-title-1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
  }

  .text-title-2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0;
  }

  .text-title-3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0;
  }

  .text-label-l {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
  }

  .text-label-m {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
  }

  .text-label-s {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0;
  }

  /* Body */
  .text-body-1 {
    font-weight: 400; /* Regular */
    font-size: 16px; /* md */
    line-height: 180%;
    letter-spacing: 0;
  }

  .text-body-2 {
    font-weight: 400; /* Regular */
    font-size: 14px; /* sm */
    line-height: 180%;
    letter-spacing: 0;
  }

  /* Button */
  .text-button-1 {
    font-weight: 700; /* Bold */
    font-size: 16px; /* md */
    line-height: 24px; /* Line Height L */
    letter-spacing: 0;
  }

  .text-button-2 {
    font-weight: 700; /* Bold */
    font-size: 14px; /* sm */
    line-height: 20px; /* Line Height M */
    letter-spacing: 0;
  }

  .text-button-3 {
    font-weight: 700; /* Bold */
    font-size: 12px; /* xs */
    line-height: 20px; /* Line Height M */
    letter-spacing: 0;
  }

  /* Caption */
  .text-caption-l {
    font-weight: 400; /* Regular */
    font-size: 16px; /* md */
    line-height: 24px; /* Line Height L */
    letter-spacing: 0;
  }

  .text-caption-m {
    font-weight: 400; /* Regular */
    font-size: 14px; /* sm */
    line-height: 20px; /* Line Height M */
    letter-spacing: 0;
  }

  .text-caption-s {
    font-weight: 400; /* Regular */
    font-size: 12px; /* xs */
    line-height: 16px; /* Line Height S */
    letter-spacing: 0;
  }
}

@theme {
  /* margin */
  /* spacing-1 */
  --spacing-margin-x-xs: clamp(
    calc(4px * 0.8),
    calc((4 / 390) * 100vw),
    calc(4px * 1.2)
  );
  --spacing-margin-y-xs: clamp(
    calc(4px * 0.8),
    calc((4 / 796) * 100dvh),
    calc(4px * 1.2)
  );

  /* spacing-2 */
  --spacing-margin-x-s: clamp(
    calc(8px * 0.8),
    calc((8 / 390) * 100vw),
    calc(8px * 1.2)
  );
  --spacing-margin-y-s: clamp(
    calc(8px * 0.8),
    calc((8 / 796) * 100dvh),
    calc(8px * 1.2)
  );

  /* spacing-4 */
  --spacing-margin-x-m: clamp(
    calc(16px * 0.8),
    calc((16 / 390) * 100vw),
    calc(16px * 1.2)
  );
  --spacing-margin-y-m: clamp(
    calc(16px * 0.8),
    calc((16 / 796) * 100dvh),
    calc(16px * 1.2)
  );

  /* spacing-6 */
  --spacing-margin-x-l: clamp(
    calc(24px * 0.8),
    calc((24 / 390) * 100vw),
    calc(24px * 1.2)
  );
  --spacing-margin-y-l: clamp(
    calc(24px * 0.8),
    calc((24 / 796) * 100dvh),
    calc(24px * 1.2)
  );

  /* spacing-10 */
  --spacing-margin-x-xl: clamp(
    calc(40px * 0.8),
    calc((40 / 390) * 100vw),
    calc(40px * 1.2)
  );
  --spacing-margin-y-xl: clamp(
    calc(40px * 0.8),
    calc((40 / 796) * 100dvh),
    calc(40px * 1.2)
  );

  /* spacing-20 */
  --spacing-margin-x-xxl: clamp(
    calc(80px * 0.8),
    calc((80 / 390) * 100vw),
    calc(80px * 1.2)
  );
  --spacing-margin-y-xxl: clamp(
    calc(80px * 0.8),
    calc((80 / 796) * 100dvh),
    calc(80px * 1.2)
  );

  /* spacing-40 */
  --spacing-margin-x-xxxl: clamp(
    calc(160px * 0.8),
    calc((160 / 390) * 100vw),
    calc(160px * 1.2)
  );
  --spacing-margin-y-xxxl: clamp(
    calc(160px * 0.8),
    calc((160 / 796) * 100dvh),
    calc(160px * 1.2)
  );

  /* gap */
  /* spacing-1 */
  --spacing-gap-x-xs: clamp(
    calc(4px * 0.8),
    calc((4 / 390) * 100vw),
    calc(4px * 1.2)
  );
  --spacing-gap-y-xs: clamp(
    calc(4px * 0.8),
    calc((4 / 796) * 100dvh),
    calc(4px * 1.2)
  );

  /* spacing-2 */
  --spacing-gap-x-s: clamp(
    calc(8px * 0.8),
    calc((8 / 390) * 100vw),
    calc(8px * 1.2)
  );
  --spacing-gap-y-s: clamp(
    calc(8px * 0.8),
    calc((8 / 796) * 100dvh),
    calc(8px * 1.2)
  );

  /* spacing-4 */
  --spacing-gap-x-m: clamp(
    calc(16px * 0.8),
    calc((16 / 390) * 100vw),
    calc(16px * 1.2)
  );
  --spacing-gap-y-m: clamp(
    calc(16px * 0.8),
    calc((16 / 796) * 100dvh),
    calc(16px * 1.2)
  );

  /* spacing-6 */
  --spacing-gap-x-l: clamp(
    calc(24px * 0.8),
    calc((24 / 390) * 100vw),
    calc(24px * 1.2)
  );
  --spacing-gap-y-l: clamp(
    calc(24px * 0.8),
    calc((24 / 796) * 100dvh),
    calc(24px * 1.2)
  );

  /* spacing-10 */
  --spacing-gap-x-xl: clamp(
    calc(40px * 0.8),
    calc((40 / 390) * 100vw),
    calc(40px * 1.2)
  );
  --spacing-gap-y-xl: clamp(
    calc(40px * 0.8),
    calc((40 / 796) * 100dvh),
    calc(40px * 1.2)
  );

  /* padding */
  /* spacing-1 */
  --spacing-padding-x-xxs: clamp(
    calc(4px * 0.8),
    calc((4 / 390) * 100vw),
    calc(4px * 1.2)
  );
  --spacing-padding-y-xxs: clamp(
    calc(4px * 0.8),
    calc((4 / 796) * 100dvh),
    calc(4px * 1.2)
  );

  /* spacing-2 */
  --spacing-padding-x-xs: clamp(
    calc(8px * 0.8),
    calc((8 / 390) * 100vw),
    calc(8px * 1.2)
  );
  --spacing-padding-y-xs: clamp(
    calc(8px * 0.8),
    calc((8 / 796) * 100dvh),
    calc(8px * 1.2)
  );

  /* spacing-3 */
  --spacing-padding-x-s: clamp(
    calc(12px * 0.8),
    calc((12 / 390) * 100vw),
    calc(12px * 1.2)
  );
  --spacing-padding-y-s: clamp(
    calc(12px * 0.8),
    calc((12 / 796) * 100dvh),
    calc(12px * 1.2)
  );

  /* spacing-4 */
  --spacing-padding-x-m: clamp(
    calc(16px * 0.8),
    calc((16 / 390) * 100vw),
    calc(16px * 1.2)
  );
  --spacing-padding-y-m: clamp(
    calc(16px * 0.8),
    calc((16 / 796) * 100dvh),
    calc(16px * 1.2)
  );

  /* spacing-6 */
  --spacing-padding-x-l: clamp(
    calc(24px * 0.8),
    calc((24 / 390) * 100vw),
    calc(24px * 1.2)
  );
  --spacing-padding-y-l: clamp(
    calc(24px * 0.8),
    calc((24 / 796) * 100dvh),
    calc(24px * 1.2)
  );

  /* spacing-8 */
  --spacing-padding-x-xl: clamp(
    calc(32px * 0.8),
    calc((32 / 390) * 100vw),
    calc(32px * 1.2)
  );
  --spacing-padding-y-xl: clamp(
    calc(32px * 0.8),
    calc((32 / 796) * 100dvh),
    calc(32px * 1.2)
  );

  /* spacing-12 */
  --spacing-padding-x-xxl: clamp(
    calc(48px * 0.8),
    calc((48 / 390) * 100vw),
    calc(48px * 1.2)
  );
  --spacing-padding-y-xxl: clamp(
    calc(48px * 0.8),
    calc((48 / 796) * 100dvh),
    calc(48px * 1.2)
  );

  /* brand color */
  --color-brand-primary: #6866ff;
  --color-brand-secondary: #ffa9f3;
  --color-brand-primary-alpha-90: rgba(104, 102, 255, 0.9);
  --color-brand-primary-alpha-80: rgba(104, 102, 255, 0.8);
  --color-brand-primary-alpha-70: rgba(104, 102, 255, 0.7);
  --color-brand-primary-alpha-60: rgba(104, 102, 255, 0.6);
  --color-brand-primary-alpha-50: rgba(104, 102, 255, 0.5);
  --color-brand-primary-alpha-40: rgba(104, 102, 255, 0.4);
  --color-brand-primary-alpha-30: rgba(104, 102, 255, 0.3);
  --color-brand-primary-alpha-20: rgba(104, 102, 255, 0.2);
  --color-brand-primary-alpha-10: rgba(104, 102, 255, 0.1);

  /* border */
  --color-border-base: #e8eef2; /* neutral/200 */
  --color-border-layer-1: #bbc5cc; /* neutral/300 */
  --color-border-layer-2: #a4adb2; /* neutral/400 */
  --color-border-layer-3: #8c9499; /* neutral/500 */
  --color-border-muted: #f2f8fc; /* neutral/100 */
  --color-border-inverse: #2f3133; /* neutral/900 */
  --color-border-transparent: rgba(0, 0, 0, 0);
  --color-border-alpha: rgba(0, 0, 0, 0.1);
  --color-border-alpha-inverse: rgba(255, 255, 255, 0.1);
  /* feedback */
  --color-feedback-success-fg: #16a34a;
  --color-feedback-warning-fg: #d1b400;
  --color-feedback-error-fg: #ef4444;
  --color-feedback-info-fg: #0683ff;
  --color-feedback-success-bg: #bbf7d1;
  --color-feedback-warning-bg: #feffc1;
  --color-feedback-error-bg: #fee2e2;
  --color-feedback-info-bg: #d6f0ff;
  /* surface */
  --color-surface-base: #ffffff; /* neutral/0 */
  --color-surface-layer-1: #f2f8fc; /* neutral/100 */
  --color-surface-layer-2: #e8eef2; /* neutral/200 */
  --color-surface-layer-3: #bbc5cc; /* neutral/300 */
  --color-surface-muted: #e8eef2; /* neutral/200 */
  --color-surface-inverse: #000000; /* neutral/1100 */
  --color-surface-transparent: rgba(
    255,
    255,
    255,
    0
  ); /* neutral/alpha/light0 */
  --color-surface-alpha: rgba(255, 255, 255, 0.3); /* neutral/alpha/light30 */
  --color-surface-alpha-inverse: rgba(0, 0, 0, 0.3); /* neutral/alpha/dark30 */
  /* text */
  --color-text-primary: #17191a; /* neutral/1000 */
  --color-text-secondary: #464a4d; /* neutral/800 */
  --color-text-tertiary: #757b80; /* neutral/600 */
  --color-text-disabled: #a4adb2; /* neutral/400 */
  --color-text-link: #6866ff; /* brand/primary */
  --color-text-link-hover: rgba(
    104,
    102,
    255,
    0.9
  ); /* brand/primary-alpha/90 */
  --color-text-inverse-primary: #ffffff; /* neutral/0 */
  --color-text-inverse-secondary: #e8eef2; /* neutral/200 */
  --color-text-inverse-tertiary: #bbc5cc; /* neutral/300 */
  /* icon */
  --color-icon-default: #17191a; /* text/primary */
  --color-icon-hover: #464a4d; /* text/secondary */
  --color-icon-muted: #757b80; /* text/tertiary */
  --color-icon-disabled: #a4adb2; /* text/disabled */
  --color-icon-primary: #6866ff; /* text/link */
  --color-icon-success: #16a34a; /* feedback/success-fg */
  --color-icon-warning: #d1b400; /* feedback/warning-fg */
  --color-icon-error: #ef4444; /* feedback/error-fg */
  --color-icon-info: #0683ff; /* feedback/info-fg */
  --color-icon-inverse: #ffffff; /* text/inverse-primary */
  --color-icon-inverse-hover: #e8eef2; /* text/inverse-secondary */
  /* button */
  --color-button-primary-bg-default: #6866ff; /* brand/primary */
  --color-button-primary-bg-hover: #3c3a9f; /* brand/primary-hover */
  --color-button-primary-text-default: #ffffff; /* text/inverse-primary */
  --color-button-secondary-bg-default: #edf9ff; /* brand/secondary-bg */
  --color-button-secondary-bg-hover: #d6f0ff; /* brand/secondary-hover */
  --color-button-secondary-text-default: #6866ff; /* text/link */
  --color-button-tertiary-bg-default: #ffffff; /* surface/base */
  --color-button-tertiary-bg-hover: #f2f8fc; /* surface/layer-1 */
  --color-button-tertiary-text-default: #17191a; /* text/primary */
  --color-button-tertiary-border-default: #e8eef2; /* border/base */
  --color-button-tertiary-border-hover: #bbc5cc; /* border/layer-1 */
  --color-button-disabled-bg-default: #e8eef2; /* surface/muted */
  --color-button-disabled-text-default: #a4adb2; /* text/disabled */
  /* field */
  --color-field-text-default: #17191a; /* text/primary */
  --color-field-text-hover: #464a4d; /* text/secondary */
  --color-field-text-mute: #757b80; /* text/tertiary */
  --color-field-text-disabled: #a4adb2; /* text/disabled */
  --color-field-text-inverse: #ffffff; /* text/inverse-primary */
  --color-field-text-primary: #006fff; /* text/link */
  --color-field-border-default: #e8eef2; /* border/base */
  --color-field-border-hover: #bbc5cc; /* border/layer-1 */
  --color-field-border-muted: #f2f8fc; /* border/muted */
  --color-field-border-success: #16a34a; /* feedback/success-fg */
  --color-field-border-warning: #d1b400; /* feedback/warning-fg */
  --color-field-border-error: #ef4444; /* feedback/error-fg */
  --color-field-border-info: #0683ff; /* feedback/info-fg */
  --color-field-bg-default: #ffffff; /* surface/base */
  --color-field-bg-hover: #f2f8fc; /* surface/layer-1 */
  --color-field-bg-muted: #e8eef2; /* surface/muted */
  --color-field-bg-success: #bbf7d1; /* feedback/success-bg */
  --color-field-bg-warning: #ffefc1; /* feedback/warning-bg */
  --color-field-bg-error: #fee2e2; /* feedback/error-bg */
  --color-field-bg-info: #d6f0ff; /* feedback/info-bg */

  /* shadow */
  --shadow-1: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);
  --shadow-2: 0px 4px 12px 0 rgba(0, 0, 0, 0.1);
  --shadow-3: 0px 8px 24px 0 rgba(0, 0, 0, 0.1);
  --shadow-4: 0px 12px 48px 0 rgba(0, 0, 0, 0.1);
}

.dark {
  /* brand color */
  --color-brand-primary: #6866ff;
  --color-brand-secondary: #ffa9f3;
  --color-brand-primary-alpha-90: rgba(104, 102, 255, 0.9);
  --color-brand-primary-alpha-80: rgba(104, 102, 255, 0.8);
  --color-brand-primary-alpha-70: rgba(104, 102, 255, 0.7);
  --color-brand-primary-alpha-60: rgba(104, 102, 255, 0.6);
  --color-brand-primary-alpha-50: rgba(104, 102, 255, 0.5);
  --color-brand-primary-alpha-40: rgba(104, 102, 255, 0.4);
  --color-brand-primary-alpha-30: rgba(104, 102, 255, 0.3);
  --color-brand-primary-alpha-20: rgba(104, 102, 255, 0.2);
  --color-brand-primary-alpha-10: rgba(104, 102, 255, 0.1);

  /* border */
  --color-border-base: #2f3133; /* neutral/900 */
  --color-border-layer-1: #464a4d; /* neutral/800 */
  --color-border-layer-2: #5e6366; /* neutral/700 */
  --color-border-layer-3: #757b80; /* neutral/600 */
  --color-border-muted: #17191a; /* neutral/1000 */
  --color-border-inverse: #e8eef2; /* neutral/200 */
  --color-border-transparent: rgba(0, 0, 0, 0);
  --color-border-alpha: rgba(255, 255, 255, 0.1); /* light10 */
  --color-border-alpha-inverse: rgba(0, 0, 0, 0.1); /* dark10 */
  /* feedback */
  --color-feedback-success-fg: #16a34a;
  --color-feedback-warning-fg: #d1b400;
  --color-feedback-error-fg: #ef4444;
  --color-feedback-info-fg: #0683ff;
  --color-feedback-success-bg: #bbf7d1;
  --color-feedback-warning-bg: #feffc1;
  --color-feedback-error-bg: #fee2e2;
  --color-feedback-info-bg: #d6f0ff;
  /* surface */
  --color-surface-base: #000000; /* neutral/1100 */
  --color-surface-layer-1: #17191a; /* neutral/1000 */
  --color-surface-layer-2: #2f3133; /* neutral/900 */
  --color-surface-layer-3: #464a4d; /* neutral/800 */
  --color-surface-muted: #2f3133; /* neutral/900 */
  --color-surface-inverse: #ffffff; /* neutral/0 */
  --color-surface-transparent: rgba(0, 0, 0, 0); /* neutral/alpha/dark0 */
  --color-surface-alpha: rgba(0, 0, 0, 0.3); /* neutral/alpha/dark30 */
  --color-surface-alpha-inverse: rgba(
    255,
    255,
    255,
    0.3
  ); /* neutral/alpha/light30 */
  /* text */
  --color-text-primary: #ffffff; /* neutral/0 */
  --color-text-secondary: #e8eef2; /* neutral/200 */
  --color-text-tertiary: #bbc5cc; /* neutral/300 */
  --color-text-disabled: #8c9499; /* neutral/500 */
  --color-text-link: #6866ff; /* brand/primary */
  --color-text-link-hover: rgba(
    104,
    102,
    255,
    0.9
  ); /* brand/primary-alpha/90 */
  --color-text-inverse-primary: #ffffff; /* neutral/0 */
  --color-text-inverse-secondary: #e8eef2; /* neutral/200 */
  --color-text-inverse-tertiary: #bbc5cc; /* neutral/300 */
}
